.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.box {
  height: 100px;
  width: 100px;
  background-color: rgb(82, 94, 223);
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: flex;
  margin: 10px;
}

.win-tile {
  box-shadow: 0 0 60px 30px #fff;
}

table {
  border-collapse: collapse;
  width: 30%;
  text-align: center;
}

table, td, th {
  border: 1px solid black; 
}
